@* نحدد نوع الـ Model اللي الـ View ده مستنيه *@
@model SimpleBlog.ViewModels.PostViewModel

@{
    ViewData["Title"] = Model.Title; // نستخدم عنوان المقالة كعنوان للصفحة
}

<h1>@Model.Title</h1>

<hr />

<dl class="row">
    <dt class="col-sm-2">
        Author:
    </dt>
    <dd class="col-sm-10">
        @Model.Author
    </dd>
    <dt class="col-sm-2">
        Published On:
    </dt>
    <dd class="col-sm-10">
        @Model.PublicationDate.ToShortDateString()
    </dd>
    <dt class="col-sm-2">
        Post ID:
    </dt>
    <dd class="col-sm-10">
        @Model.Id
    </dd>
</dl>

<hr />

<div>
    @Model.Content
</div>

<hr />

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-dark">Edit</a> 
    <form asp-action="Delete" asp-controller="Posts" method="post" style="display:inline;"
          onsubmit="return confirm('Are you absolutely sure you want to delete the post titled \'@Model.Title\'? This action cannot be undone.');">
        <input type="hidden" asp-for="Id" /> 
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
    <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
</div>